<div class="step-tabs w-full flex gap-4 justify-between px-2 mb-3">
  @for (step of (steps | async); track step.stepIndex; let i = $index;){
    <div (click)="onStepClick(step)" class="text-center flex-1 cursor-pointer">
      <div [ngClass]="{ '!bg-green-500': step.isComplete, 'bg-slate-200': !step.isComplete, '!bg-sky-300': (currentStep | async)?.stepIndex === step.stepIndex }"
      class="step-bubble w-10 p-1 mx-auto aspect-square rounded-full text-center border-2 border-slate-900">
        <span class="text-xl">{{ step.stepIndex }}</span>
      </div>
      <span class="text-sm">{{step.label}}</span>
    </div>
  }
</div>
