<div class="p-5">
  <app-logo class="block w-[30%] max-w-screen-md mx-auto mt-24 mb-24"></app-logo>
  <div class="flex flex-wrap gap-4 cols-2 justify-center">
    <app-button-icon-text-xl class="flex-grow flex-1" btnClasses="!shadow-xl focus:to-sky-300" icon="fpi-dish-cutlery-xl" label="Eat in" i18n-label (click)="eatin()"></app-button-icon-text-xl>
    <app-button-icon-text-xl class="flex-grow flex-1" btnClasses="!shadow-xl focus:to-sky-300" icon="fpi-takeout-8" label="Take out" i18n-label (click)="takeout()"></app-button-icon-text-xl>
  </div>
  <!-- <app-lang-switcher class="absolute bottom-0 left-2/4 -translate-x-2/4 mb-5"></app-lang-switcher> -->
</div>
